* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Darker Grotesque", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__title {
  text-align: center;
  margin: auto;
  padding: 50px;
}