* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Darker Grotesque", sans-serif;
}

// .background {
//   height: 100vh;
//   width: 100%;
//   background-image: url(./background.jpg);
//   opacity: 20%;
//   background-position: centre;
//   background-size: cover;
// }

// .calculator {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   justify-items: center;
// }

.header {
  &__title {
    text-align: center;
    margin: auto;
    padding: 10px;
    font-size: 35px;
  }
}

// .calculator {
//   width: 320px;
//   height: 520px;
//   background-color: grey;
//   position: relative;
// }

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator__buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  margin-top: 20px;

  cursor: pointer;
  width: 200px;
  height: 200px;
}

.calculator__buttons__op__equal {
  grid-row: 2/5;
}

.calculator__buttons__op__clear {
  grid-column: 1/4;
}

input {
  text-align: right;
  height: 40px;
  width: 200px;
}
