* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Darker Grotesque", sans-serif;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

.header__title {
  text-align: center;
  margin: auto;
  padding: 50px;
}

.calculator__buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  margin-top: 20px;
  cursor: pointer;
  width: 200px;
  height: 200px;
}

input {
  text-align: right;
  height: 40px;
  width: 200px;
}