* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Darker Grotesque", sans-serif;
}

// .background {
//   height: 100vh;
//   width: 100%;
//   background-image: url(./background.jpg);
//   opacity: 20%;
//   background-position: centre;
//   background-size: cover;
// }

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header {
  &__title {
    text-align: center;
    margin: auto;
    padding: 50px;
  }
}

// .calculator {
//   width: 320px;
//   height: 520px;
//   background-color: grey;
//   position: relative;
// }
